body {
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B3291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
}

h1 {
    font-family: 'Work Sans', sans-serif !important;
}
h2 {
    font-family: 'Work Sans', sans-serif !important;
}
h3 {
    font-family: 'Work Sans', sans-serif !important;
}
h4 {
    font-family: 'Work Sans', sans-serif !important; 
}
h5 {
    font-family: 'Work Sans', sans-serif !important;
}
p {
    font-family: 'Work Sans', sans-serif !important;
    font-size: 25px; 
}
a {
    font-family: 'Work Sans', sans-serif !important;
    font-size: large !important;
}


/* Header */
.header-color {
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B3281E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}



/* Hamburger Nav */
.material-icons {
    visibility: hidden;
}
.mdl-layout__drawer-button {
    visibility: hidden;
  }

/* Title */
#title a {
    text-decoration: none;
    color: black;
    opacity: 55%;
}

/* Nav Title */
#navTitle a {
    text-decoration: none;
    color: gray;
}



/* landing Page */
.landing-grid {
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





/* Resume Page */
.resume-grid p{
    color: white;
    font-size: 14px;
    opacity: 85%; 
}

.resume-left-col h4{
    margin: 1px;
    color: white;
    opacity: 85%; 
}

.resume-left-col h2{
    margin: 1px;
    color: white;
    opacity: 85%; 
}

.resume-right-col {
    background: #27221f;
    color: white;
    padding: 2em;
    opacity: 75%;
}

.experienceBody h6{
        margin-top: 1px;
        margin-bottom: 4px;
}

.resumeButton {
    text-align: center;
}

.mdl-button {
    background: black !important;
    color: white !important;
    font-family: 'Work Sans', sans-serif !important;
    font-size: large !important;
    opacity: 65% !important;
}



/* About Me Page */
.aboutme-grid {
    color: black;
}

.aboutme-grid h3 {
    font-family: 'Quicksand', sans-serif;
    opacity: 85%; 
}

.aboutme-grid p {
    font-size: large;
    opacity: 85%; 
}

.aboutme-right-col {
    text-align: center;
}






/* Projects Page */
.projects-grid h1 {
    text-align: center;
}

#projectPageTitle {
    text-align: center;
    color: black;
    opacity: 65%;
}



/* Contact Page */
.contact-grid {   
    width: 100%;
    height: 100%;
    margin: auto;
    color: white;
    opacity: 65%;
    font-size: large;
}

.contact-right-col {
    background: #27221f;
    color: white;
    padding: 2em;
    opacity: 65%;
}


/* Landing Text */
.avatar-img {
    height: 400px;
    padding-top: 2em;
}



.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
    margin: 1px;
}

.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1px;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
}


/* TextFields MDL */
.mdl-textfield__label:after {
    background-color: #182848 !important;
    color: white !important;
    font-weight: bold;
    opacity: .9;
}


/* Progress Bar MDL */
.mdl-ProgressBar:after {
    background-color: #182848 !important;
    color: white !important;
}

.mdl-progress > .progressbar {
    background-color: darkred !important;
}


.mdl-tabs__tab-bar {
    color: black !important;
    border-bottom: hidden !important;
}

.mdl-tabs__tab {
    color: black !important;
    border-bottom: hidden !important;
    opacity: 65% !important;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    background: black !important;
    opacity: 65% !important;
}



/* Mobile */

@media only screen and (max-width: 1024px) {
    .material-icons { 
        visibility: visible;
        color: white;
    }
}