body {
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Header */
.header-color {
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
}


/* Hamburger Nav */
.material-icons {
    visibility: hidden;
}

/* Title */
#title a {
    text-decoration: none;
    color: white;
}

/* Nav Title */
#navTitle a {
    text-decoration: none;
    color: gray;
}



/* landing Page */
.landing-grid {
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Resume Page */
.resume-grid {
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/* Resume Page */
.resume-right-col {
    background: #27221f;
    color: white;
    padding: 2em;
}

.experienceBody h6{
        margin-top: 1px;
        margin-bottom: 4px;
}


/* Projects Page */
.projects-grid {
    display: flex;
}


/* Contact Page */
.contact-grid {   
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
}


/* Landing Text */
.avatar-img {
    height: 250px;
    padding-top: 5em;
}

.banner-text {
    background-color: black;
    opacity: .5;
    width: 55%;
    margin: auto;
    border-radius: 5px;
}

.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
}

.banner-text hr {
    border-top: 5px white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
}


/* TextFields MDL */
.mdl-textfield__label:after {
    background-color: #182848 !important;
    color: white !important;
    font-weight: bold;
    opacity: .9;
}


/* Progress Bar MDL */
.mdl-ProgressBar:after {
    background-color: #182848 !important;
    color: white !important;
}

.mdl-progress > .progressbar {
    background-color: darkred !important;
}


.mdl-tabs__tab-bar {
    color: black !important;
    border-bottom: hidden !important;
}

.mdl-tabs__tab {
    color: white !important;
    border-bottom: hidden !important;
}



/* Mobile */

@media only screen and (max-width: 1024px) {
    .material-icons { 
        visibility: visible;
        color: white;
    }
}